@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0
    }

    html {
        font-size: 62.5%;
        font-family: 'Poppins', sans-serif;
    }

    body::-webkit-scrollbar {
        width: 0.6rem;
    }

    body::-webkit-scrollbar-thumb {
        border-radius: 1rem;
        background: hsl(257, 27%, 26%);
    }

    body::-webkit-scrollbar-track-piece {
        margin: 0.3rem 0;
    }

    input:-webkit-autofill:is(:hover,:focus, :active),
    input:-webkit-autofill {
        -webkit-text-fill-color: hsl(257, 7%, 63%);
        -webkit-box-shadow: 0 0 0 5rem white inset !important;
    }


    #iconMenu > span:is(:nth-child(1), :nth-child(3)) {
        transition: rotate 300ms, transform 300ms 300ms;
    }
    
    #iconMenu.active > span:nth-child(1) {
        transform: translateY(0);
        rotate: 45deg;
        transition: transform 300ms, rotate 300ms 300ms;
    }

    #iconMenu.active > span:nth-child(2) {
        scale: 0 1;
    }

    #iconMenu.active > span:nth-child(3) {
        transform: translateY(0);
        rotate: 135deg;
        transition: transform 300ms, rotate 300ms 300ms;
    }

    input.invalid {
        margin-bottom: 3rem;
        border-color: hsl(0, 87%, 67%);
    }

    @media (min-width: 724px) {
        input.invalid {
            margin: 0;
        }
    }
}